Draft/TestSMTP.console/Service References/ServiceReference1/cloud3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wsa="http://www.w3.org/2005/08/addressing" attributeFormDefault="unqualified" blockDefault="#all" finalDefault="" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EndpointReference" type="wsa:EndpointReferenceType" />
  <xs:complexType name="EndpointReferenceType">
    <xs:sequence>
      <xs:element name="Address" type="wsa:AttributedURIType" />
      <xs:element minOccurs="0" name="ReferenceParameters" type="wsa:ReferenceParametersType" />
      <xs:element minOccurs="0" ref="wsa:Metadata" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ReferenceParametersType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="Metadata" type="wsa:MetadataType" />
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="MessageID" type="wsa:AttributedURIType" />
  <xs:element name="RelatesTo" type="wsa:RelatesToType" />
  <xs:complexType name="RelatesToType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute default="http://www.w3.org/2005/08/addressing/reply" name="RelationshipType" type="wsa:RelationshipTypeOpenEnum" use="optional" />
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="RelationshipTypeOpenEnum">
    <xs:union memberTypes="wsa:RelationshipType xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="RelationshipType">
    <xs:restriction base="xs:anyURI">
      <xs:enumeration value="http://www.w3.org/2005/08/addressing/reply" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReplyTo" type="wsa:EndpointReferenceType" />
  <xs:element name="From" type="wsa:EndpointReferenceType" />
  <xs:element name="FaultTo" type="wsa:EndpointReferenceType" />
  <xs:element name="To" type="wsa:AttributedURIType" />
  <xs:element name="Action" type="wsa:AttributedURIType" />
  <xs:complexType name="AttributedURIType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:attribute name="IsReferenceParameter" type="xs:boolean" />
  <xs:simpleType name="FaultCodesOpenEnumType">
    <xs:union memberTypes="wsa:FaultCodesType xs:QName" />
  </xs:simpleType>
  <xs:simpleType name="FaultCodesType">
    <xs:restriction base="xs:QName">
      <xs:enumeration value="wsa:InvalidAddressingHeader" />
      <xs:enumeration value="wsa:InvalidAddress" />
      <xs:enumeration value="wsa:InvalidEPR" />
      <xs:enumeration value="wsa:InvalidCardinality" />
      <xs:enumeration value="wsa:MissingAddressInEPR" />
      <xs:enumeration value="wsa:DuplicateMessageID" />
      <xs:enumeration value="wsa:ActionMismatch" />
      <xs:enumeration value="wsa:MessageAddressingHeaderRequired" />
      <xs:enumeration value="wsa:DestinationUnreachable" />
      <xs:enumeration value="wsa:ActionNotSupported" />
      <xs:enumeration value="wsa:EndpointUnavailable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RetryAfter" type="wsa:AttributedUnsignedLongType" />
  <xs:complexType name="AttributedUnsignedLongType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedLong">
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="ProblemHeaderQName" type="wsa:AttributedQNameType" />
  <xs:complexType name="AttributedQNameType">
    <xs:simpleContent>
      <xs:extension base="xs:QName">
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="ProblemHeader" type="wsa:AttributedAnyType" />
  <xs:complexType name="AttributedAnyType">
    <xs:sequence>
      <xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="ProblemIRI" type="wsa:AttributedURIType" />
  <xs:element name="ProblemAction" type="wsa:ProblemActionType" />
  <xs:complexType name="ProblemActionType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="wsa:Action" />
      <xs:element minOccurs="0" name="SoapAction" type="xs:anyURI" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
</xs:schema>