Draft/TestSMTP.console/Service References/ServiceReference1/CloudEngine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudEngine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_DiscoveryProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_Client_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01" location="http://engine.broobu.com:1800/cloud?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://engine.broobu.com:1800/cloud?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://engine.broobu.com:1800/cloud?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://engine.broobu.com:1800/cloud?xsd=xsd1" namespace="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01" />
      <xsd:import schemaLocation="http://engine.broobu.com:1800/cloud?xsd=xsd2" namespace="http://www.w3.org/2005/08/addressing" />
      <xsd:import schemaLocation="http://engine.broobu.com:1800/cloud?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMirror_SubscribeToUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToUpdates" />
  </wsdl:message>
  <wsdl:message name="IMirror_SubscribeToUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IMirror_AddMirrors_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMirrors" />
  </wsdl:message>
  <wsdl:message name="IMirror_AddMirrors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMirrorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMirror">
    <wsdl:operation name="SubscribeToUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IMirror/SubscribeToUpdates" message="tns:IMirror_SubscribeToUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMirror/SubscribeToUpdatesResponse" message="tns:IMirror_SubscribeToUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMirrors">
      <wsdl:input wsaw:Action="http://tempuri.org/IMirror/AddMirrors" message="tns:IMirror_AddMirrors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMirror/AddMirrorsResponse" message="tns:IMirror_AddMirrors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_DiscoveryProxy" type="i0:DiscoveryProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_DiscoveryProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProbeOperation">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01/Probe" style="document" />
      <wsdl:input name="ProbeMessage11">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProbeMatchesMessage11">
        <soap12:header message="i0:ProbeMatchesMessage11_Headers" part="MessageSequence" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveOperation">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01/Resolve" style="document" />
      <wsdl:input name="ResolveMessage11">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResolveMatchesMessage11">
        <soap12:header message="i0:ResolveMatchesMessage11_Headers" part="MessageSequence" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_Client" type="i0:Client">
    <wsp:PolicyReference URI="#WSHttpBinding_Client_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloOperation">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01/Hello" style="document" />
      <wsdl:input name="HelloMessage11">
        <soap12:header message="i0:HelloMessage11_Headers" part="MessageSequence" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ByeOperation">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01/Bye" style="document" />
      <wsdl:input name="ByeMessage11">
        <soap12:header message="i0:ByeMessage11_Headers" part="MessageSequence" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMirror" type="tns:IMirror">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeToUpdates">
      <soap:operation soapAction="http://tempuri.org/IMirror/SubscribeToUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMirrors">
      <soap:operation soapAction="http://tempuri.org/IMirror/AddMirrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudEngine">
    <wsdl:port name="WSHttpBinding_DiscoveryProxy" binding="tns:WSHttpBinding_DiscoveryProxy">
      <soap12:address location="http://engine.broobu.com:1800/cloud/probe" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://engine.broobu.com:1800/cloud/probe</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_Client" binding="tns:WSHttpBinding_Client">
      <soap12:address location="http://engine.broobu.com:1800/cloud/announce" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://engine.broobu.com:1800/cloud/announce</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMirror" binding="tns:BasicHttpBinding_IMirror">
      <soap:address location="http://engine.broobu.com:1800/cloud/mirror" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>